<h3>Cards</h3>
<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://material.angular.io/assets/img/examples/shiba1.jpg"
    />

    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-title>Shiba Inu</mat-card-title>
  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Like</button>
    <button mat-raised-button color="accent">Share</button>
    <button mat-raised-button color="warn">Subscribe</button>
  </mat-card-actions>
</mat-card>
